<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Apex</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.5.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div id="navbar"></div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="alert alert-danger" style="margin-top: 20px;margin-bottom: 20px">APEX的API服务器位于国外，部分接口可能会因为连接问题报错，届时重试即可。</div>
            <!-- 查询玩家信息 -->
            <div class="row" id="queryStatistics">
                <div class="col-md-12">
                    <h2 style="margin-bottom: 20px">Query User Statistics</h2>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="userNameInput">userName</label>
                        <input class="form-control" id="userNameInput">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="platformInput">platform</label>
                        <select id="platformInput" class="form-control">
                            <option value="PC">PC</option>
                            <option value="PS4">PS4</option>
                            <option value="X1">XBOX</option>
                            <option value="SWITCH">SWITCH</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 32px">
                    <button class="btn btn-primary" id="query" onclick="query()">Query!</button>
                </div>
                <div class="col-md-1" style="margin-top: 32px" id="spinner" hidden>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <!-- 查询collapse -->
            <div class="row">
                <div class="collapse" id="queryResultCollapse">
                    <div id="queryResultInfo" hidden>
                        <div class="row" style="margin-left: 10px">
                            <div class="col-md-10">
                                <p>Name: <span id="name"></span></p>
                                <p>UID: <span id="uid"></span></p>
                                <p>Level: <span id="level"></span></p>
                                <p>Rank name: <span id="rankName"></span></p>
                                <p>Rank score: <span id="rankScore"></span></p>
                            </div>
                            <div class="col-md-2">
                                <img id="rankImg" src="" alt="XD">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 地图轮换卡片 -->
            <div class="row" id="mapRotationCard" th:if="${mapRotation} != null">
                <div class="col-md-12">
                    <h2 style="margin-bottom: 20px">Map Rotation</h2>
                </div>
                <div class="col-md-6">
                    <div class="card" id="rankedMapRotationCard" style="margin: 10px;">
                        <div style="height: 116px">
                            <img class="card-img-top" th:src="${mapRotation.ranked.get('current').asset}" style="height: 100%"/>
                        </div>
                        <div class="card-body">
                            <h4>Ranked</h4>
                            <p>Map: <span th:text="${mapRotation.ranked.get('current').map}"></span></p>
                            <p>End at: <span th:text="${#dates.format(mapRotation.ranked.get('current').end, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                            <p>Next map: <span th:text="${mapRotation.ranked.get('next').map}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" id="battleRoyaleMapRotationCard" style="margin: 10px;">
                        <div style="height: 116px">
                            <img class="card-img-top" th:src="${mapRotation.battleRoyale.get('current').asset}" style="height: 100%"/>
                        </div>
                        <div class="card-body">
                            <h4>Battle Royale</h4>
                            <p>Map: <span th:text="${mapRotation.battleRoyale.get('current').map}"></span></p>
                            <p>End at: <span th:text="${#dates.format(mapRotation.battleRoyale.get('current').end, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                            <p>Next map: <span th:text="${mapRotation.battleRoyale.get('next').map}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" id="arenasRankedCard" style="margin: 10px;">
                        <div style="height: 116px">
                            <img class="card-img-top" th:src="${mapRotation.arenasRanked.get('current').asset}" style="height: 100%"/>
                        </div>
                        <div class="card-body">
                            <h4>Arenas Ranked</h4>
                            <p>Map: <span th:text="${mapRotation.arenasRanked.get('current').map}"></span></p>
                            <p>End at: <span th:text="${#dates.format(mapRotation.arenasRanked.get('current').end, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                            <p>Next map: <span th:text="${mapRotation.arenasRanked.get('next').map}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" id="arenasCard" style="margin: 10px;">
                        <div style="height: 116px;">
                            <img class="card-img-top" th:src="${mapRotation.arenas.get('current').asset}" style="height: 100%"/>
                        </div>
                        <div class="card-body">
                            <h4>Arenas</h4>
                            <p>Map: <span th:text="${mapRotation.arenas.get('current').map}"></span></p>
                            <p>End at: <span th:text="${#dates.format(mapRotation.arenas.get('current').end, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                            <p>Next map: <span th:text="${mapRotation.arenas.get('next').map}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 复制器制造轮换 -->
            <div class="row" id="craftingCard" th:if="${crafting} != null">
                <div class="col-md-12">
                    <h2 style="margin-bottom: 20px">Crafting</h2>
                </div>
                <div th:if="${crafting} != null" th:each="item:${crafting}">
                    <div class="col-md-12">
                        <img class="img-thumbnail border" th:src="${item.getItemType().getAsset()}" style="width: 100px; height: 100px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $.get("/static/html/userNav.html", function(data) {
        $("#navbar").replaceWith(data);
    });

    function query() {
        // 显示转转转
        $('#spinner').removeAttr("hidden");
        $('#queryResultCollapse').collapse('hide');
        $.get("/game/apex/query.json", {userName: $('#userNameInput').val(), platform: $('#platformInput').val()}, function (result) {
            $("#spinner").attr("hidden", true); // 隐藏查询转转
            checkResult(result); // 检查参数
            $("#name").html(result.data.name);
            $("#uid").html(result.data.uid);
            $("#level").html(result.data.level);
            $("#rankName").html(result.data.rank.rankName);
            $("#rankScore").html(result.data.rank.rankScore);
            $("#rankImg").attr('src', result.data.rank.rankImg);
            $("#queryResultInfo").removeAttr("hidden");
            $('#queryResultCollapse').collapse('show');
        })
    }
</script>
</body>
</html>