<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <title>Apex Legends</title>
    <style>
        .mdui-card-media {
            height: 160px;
            width: 100%;
        }
    </style>
</head>
<body class="mdui-drawer-body-left mdui-theme-primary-light-blue mdui-theme-accent-pink">
<header class="appbar mdui-appbar">
    <div id="appbar-content"></div>
</header>
<div class="mdui-drawer  mdui-color-theme-200" id="drawer">
    <div id="drawer-content"></div>
</div>
<div class="mdui-container-fluid">
    <div class="mdui-row">
        <dvi class="mdui-col-md-2"></dvi>
        <div class="mdui-col-md-8 mdui-typo">
            <!-- 正文 -->
            <!-- 信息查询 -->
            <h4>Query</h4><hr>
            <div class="mdui-row">
                <!-- 查询块 -->
                <div class="mdui-col-md-6">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label" for="username">username</label>
                        <input class="mdui-textfield-input" type="text" id="username" required/>
                        <div class="mdui-textfield-error">username can not be null</div>
                    </div>
                        <label class="mdui-textfield-label" for="platform">platform</label>
                        <select class="mdui-select" mdui-select="{position: 'auto'}" id="platform">
                            <option value="PC">PC</option>
                            <option value="PS4">PS4</option>
                            <option value="X1">X1</option>
                            <option value="SWITCH">SWITCH</option>
                        </select>
                    <button class="mdui-ripple mdui-btn mdui-float-right mdui-color-pink-100" onclick="query()">Query!</button>
                </div>
                <div class="mdui-col-md-6">
                    <div class="mdui-dialog" id="query-result-dialog">
                        <div class="mdui-card">
                            <div class="mdui-card-header">
                                <img class="mdui-card-header-avatar" alt="XD" id="rank-img"/>
                                <div class="mdui-card-header-title" id="result-username"></div>
                                <div class="mdui-card-header-subtitle" id="rank"></div>
                            </div>
                            <div class="mdui-card-header">
                                <img class="mdui-card-header-avatar" alt="XD" id="arena-img"/>
                                <div class="mdui-card-header-title">Arena</div>
                                <div class="mdui-card-header-subtitle" id="arena"></div>
                            </div>
                            <!-- 升级进度条 -->
                            <div class="mdui-card-content">
                                <div class="mdui-progress">
                                    <div class="mdui-progress-determinate" style="width: 0" id="level"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 地图轮换 -->
            <h4>Map Rotation</h4><hr>
            <div class="mdui-row">
                <div class="mdui-col-md-6 mdui-m-t-3">
                    <!-- 定义卡片 -->
                    <div class="mdui-card">
                        <!-- 卡片媒体 -->
                        <div class="mdui-card-media">
                            <img style="height: 100%" th:src="${mapRotation.ranked.get('current').asset}" alt="图片挂惹QAQ" />
                        </div>
                        <!-- 卡片内容 -->
                        <div class="mdui-card-content">
                            <h4>Ranked</h4>
                            <h6>Map: <span th:text="${mapRotation.ranked.get('current').map}"></span></h6>
                            <h6>Remaining timer: <span th:text="${mapRotation.ranked.get('current').remainingTimer}"></span></h6>
                            <h6>Next map: <span th:text="${mapRotation.ranked.get('next').map}"></span></h6>
                        </div>
                    </div>
                </div>
                <div class="mdui-col-md-6 mdui-m-t-3">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img style="height: 100%" th:src="${mapRotation.battleRoyale.get('current').asset}" alt="图片挂惹QAQ"/>
                        </div>
                        <div class="mdui-card-content">
                            <h4>Battle Royale</h4>
                            <h6>Map: <span th:text="${mapRotation.battleRoyale.get('current').map}"></span></h6>
                            <h6>Remaining timer: <span th:text="${mapRotation.battleRoyale.get('current').remainingTimer}"></span></h6>
                            <h6>Next map: <span th:text="${mapRotation.battleRoyale.get('next').map}"></span></h6>
                        </div>
                    </div>
                </div>
                <div class="mdui-col-md-6 mdui-m-t-3">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img style="height: 100%" th:src="${mapRotation.arenasRanked.get('current').asset}" alt="图片挂惹QAQ" />
                        </div>
                        <div class="mdui-card-content">
                            <h4>Arenas Ranked</h4>
                            <h6>Map: <span th:text="${mapRotation.arenasRanked.get('current').map}"></span></h6>
                            <h6>Remaining timer: <span th:text="${mapRotation.arenasRanked.get('current').remainingTimer}"></span></h6>
                            <h6>Next map: <span th:text="${mapRotation.arenasRanked.get('next').map}"></span></h6>
                        </div>
                    </div>
                </div>
                <div class="mdui-col-md-6 mdui-m-t-3">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img style="height: 100%" th:src="${mapRotation.arenas.get('current').asset}" alt="图片挂惹QAQ" />
                        </div>
                        <div class="mdui-card-content">
                            <h4>Arenas</h4>
                            <h6>Map: <span th:text="${mapRotation.arenas.get('current').map}"></span></h6>
                            <h6>Remaining timer: <span th:text="${mapRotation.arenas.get('current').remainingTimer}"></span></h6>
                            <h6>Next map: <span th:text="${mapRotation.arenas.get('next').map}"></span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Crafting</h4><hr>
            <div class="mdui-row mdui-m-b-5">
                <div th:each="item:${crafting}" class="mdui-col-md-2  mdui-shadow">
                    <img class="mdui-img-fluid mdui-img-circle" th:src="${item.getItemType().getAsset()}" alt="图片挂啦!XD"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MDUI JavaScript -->
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script>
    initDrawerContent("drawer-games", "drawer-games-apex");
    initAppbarContent("Games", 'Apex Legends');


    function query() {
        if (isNotBlank("username")) {
            let paramIdList = ["username", "platform"];
            fetch("/game/apex/query.json" + getGetParams(paramIdList))
            .then(response => response.json())
            .then(json => {
                if (checkResult(json)) {
                    setElementInnerText("result-username", json.data.name);
                    setElementInnerText("rank", json.data.rank.rankName + " | " + json.data.rank.rankScore);
                    setElementSrc("rank-img", json.data.rank.rankImg);
                    setElementSrc("arena-img", json.data.arena.rankImg);
                    setElementInnerText("arena", json.data.arena.rankName + " | " + json.data.arena.rankScore);
                    setElementAttribute("level", "style", "width: " + (100 - json.data.toNextLevelPercent) + "%;")
                    let queryResult = new mdui.Dialog('#query-result-dialog');
                    queryResult.open();
                }
            })
        }
    }
</script>
</body>
</html>