<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <title>Games</title>
</head>
<body class="mdui-drawer-body-left mdui-theme-primary-light-blue mdui-theme-accent-pink">
<header class="appbar mdui-appbar">
    <div id="appbar-content"></div>
</header>
<div class="mdui-drawer  mdui-color-theme-200" id="drawer">
    <div id="drawer-content"></div>
</div>
<div class="mdui-container">
    <div class="mdui-row">
        <dvi class="mdui-col-md-2"></dvi>
        <div class="mdui-col-md-8 mdui-typo">
        </div>
    </div>
</div>
<!-- MDUI JavaScript -->
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script>
    initDrawerContent("drawer-content", "drawer-games", null)
    initAppbarContent("appbar-content", "Games", "template")

    function handleDrawer() {
        let instance = new mdui.Drawer('#drawer');
        instance.options.swipe = true;
        let state = instance.getState();
        if (state === 'opening' || state === 'opened') {
            instance.close();
        } else {
            instance.open();
        }
    }
</script>
</body>
</html>